{% extends 'blog/base.html' %}

{% block content %}
    {% if posts_published %}
        <h2><a>Published Posts</a></h2>
        <br>
        {% for post in posts_published %}
            <div class="post">
                    <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>

                    {% if user.is_authenticated %}
                        <div class="edit-buttons">
                            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a class="btn btn-default" href="{% url 'post_unpublish' pk=post.pk %}"><span class="glyphicon glyphicon-eye-close"></span></a>
                            <a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                    {% endif %}

                    {% with post.text|safe|truncatewords:"50" as truncated %}
                        <p>{{ truncated }}</p>

                        {% ifnotequal post.text truncated %}
                            <a href="{% url 'post_detail' pk=post.pk %}">read more</a>
                            <br>
                        {% endifnotequal %}
                    {% endwith %}

                    <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>

                    <hr>

                    <div class="extra-info" align="right">
                        Post by <a href="">{{ post.author.get_full_name }}</a> on {{ post.published_date }}
                    </div>
            </div>
        {% endfor %}
    {% endif %}

    <br>

    {% if posts_unpublished %}
        <h2><a>Unpublished Posts</a></h2>
        <br>
        {% for post in posts_unpublished %}
            <div class="post">
                <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>

                {% if user.is_authenticated %}
                    <div class="edit-buttons">
                        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                {% endif %}

                <p>{{ post.text|linebreaksbr }}</p>

                <hr>

            </div>
        {% endfor %}
    {% endif %}
{% endblock %}